{% extends "account/base.html" %}

{% load i18n %}

{% block ext_styles %}
<style type="text/css">
  .center-div{
   margin-top: 80px;
   padding: 40px;
   width:auto;
   display:inline-block;
   background-color: #fff;
   box-shadow: 0 1px 4px rgba(0,0,0,.04);
   border: 1px solid rgba(0,0,0,.09);
   border-radius: 3px;
 }
</style>
{% endblock %}
{% block content %}
<section class="margin-20" style="min-height: 90vh">
  <div class="container" style="text-align:center;">
    <div class="center-div">
      <p class="lead" style="margin: 7px 0px;">Are you sure you want to sign out?</p>
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-rounded-primary" type="submit">{% trans 'Sign Out' %}</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
