{% extends 'base.html' %}
{% block ext_styles %}
<style type="text/css">
.hero-unit{
	display: table;
	position: relative;
	width: 100%;
	min-height: 500px;
	height: 100vh;
	background: background: #e52d27;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	overflow: hidden;
}
.text-vertical-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}
.hero-unit-primary-text{
	text-transform: uppercase;
	font-size: 85px;
	font-weight: 700;
	line-height: 1;
	color: #FFF;
}
.hero-unit-secondary-text{
	font-size: 30px;
	font-weight: 500;
	line-height: 1;
}
</style>
{% endblock %}

{% block content %}
<section style="margin-bottom: 100px;">
	<div class="hero-unit">
		<div class="text-vertical-center">
			<div class="container">
				
				<p class="hero-unit-secondary-text">Designed and Developed by Dot...</p>
			</div>
		</div>

	</div>
</section>
{% endblock %}

