{% extends 'base.html' %}


{% block content %}
<section class="section-extras"></section>
<div class="container">
	<h1>{{ post.title }}</h1>
	<p>Published by : {{ post.author }}</p>

	<div style="float: right">
		{% if edit %}
		<button class="btn btn-default"><a  href="{% url 'post_edit' pk=post.pk %}">Edit</a></button>
		{% endif %}
	</div>

	{% if post.published_date %}
	{{ post.published_date }}

	{% endif %}
	<hr>

	<p class="post-p">{{ post.text|linebreaksbr }}</p>
</div>
{% endblock content %}
